{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
    
        <div class="page-header">
            <h1>After Midnight buses</h1>
        </div>
        <div class="content">
        
            <p>Use the journey planner to find out which route to use or <a title="after midnight October pdf 2015" href="/assets/New-PDF-timetables/Misc.--Bus-200/After-midnight-October-2015-web.pdf" target="_blank">view the pdf timetable</a>.</p>
            
            <table class="table">
            <thead>
                <tr>
                    <th class="col-md-3">Route</th>
                    <th class="col-md-1">Fare</th>
                    <th class="col-md-3">Description</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Routes N1, N2, N3, N4</td>
                    <td>$6.50</td>
                    <td>Metlink Explorer, SuperGold Pass, GO Wellington 30 Day Pass, Hutt Commuter 30 Day Pass and GetAbout 30 Day Pass tickets are accepted. No discount for smartcard.</td>
                </tr>
                <tr>
                    <td>Route N5</td>
                    <td>$6.50</td>
                    <td>Metlink Explorer and SuperGold Pass tickets are accepted. No discount for smartcard.</td>
                </tr>
                <tr>
                    <td>Route N6 within Tawa/Porirua (zones 4 to 6)</td>
                    <td>$6.50</td>
                    <td rowspan="2">Metlink Explorer and SuperGold Pass tickets are accepted. No discount for smartcard.</td>
                </tr>
                <tr>
                    <td>Route N6 from Wellington</td>
                    <td>$13.00</td>
                </tr>
                <tr>
                    <td>N8, N22, N66, N88 within Hutt Valley (zones 4 to 7)</td>
                    <td>$6.50</td>
                    <td rowspan="2">Metlink Explorer, SuperGold Pass, GetAbout 30 Day Pass, and Hutt Commuter 30 Day Pass tickets are accepted. No discount for smartcard.</td>
                </tr>
                <tr>
                    <td>N8, N22, N66, N88 from Wellington</td>
                    <td>$13.00</td>
                </tr>
            </tbody>
            </table>
            
            
            
            
            
            
        </div>
        
    </div>

{% endblock %}