{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">

			<div class="page-header">
				<h1>Airport buses</h1>
			</div>

        <div class="content">
        
			<p>There are two bus services that can take passengers to or near the airport.</p>
            <ul>
                <li><a href="http://www.metlink.org.nz/timetables/bus/091" target="_blank">Route 91</a> - Airport Flyer is an express route that travels between Lower Hutt, Wellington City and Airport. See below for <a href="/tickets-and-fares/airport/#R91fares">fare information</a>.</li>
                <li><a href="http://www.metlink.org.nz/timetables/bus/011">Route 11</a> - Seatoun is a regular bus service. It departs from Wellington Station and travels through the city, to Seatoun. It will take you within 10 minutes walk of the airport. Just get off at the corner of Broadway and Hobart Street (Bus Stop Number 6033). This service follows the normal <a href="/tickets-and-fares/" target="_blank">fare</a> structure. For example, if you travel from Wellington Station to the corner of Broadway and Hobart Street (Bus Stop Number 6033) that's 3 zones, and a $5.00 cash fare,</li>
            </ul>
            
            <h3>Airport Flyer fares (route 91)</h3>

            <table class="table">
            <thead>
                <tr>
                    <th class="col-md-1">Zones travelled</th>
                    <th class="col-md-1">Adult cash</th>
                    <th class="col-md-1">Adult Snapper</th>
                    <th class="col-md-1">Child cash</th>
                    <th class="col-md-1">Child Snapper</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>1</td><td>$6.00</td><td>$4.80</td><td>$4.00</td><td>$3.20</td></tr>
                <tr><td>2</td><td>$7.00</td><td>$5.60</td><td>$4.50</td><td>$3.60</td></tr>
                <tr><td>3</td><td>$8.00</td><td>$6.40</td><td>$5.00</td><td>$4.00</td></tr>
                <tr><td>4</td><td>$9.00</td><td>$7.20</td><td>$5.50</td><td>$4.40</td></tr>
                <tr><td>5</td><td>$10.00</td><td>$8.00</td><td>$6.00</td><td>$4.80</td></tr>
                <tr><td>6</td><td>$11.00</td><td>$8.80</td><td>$6.50</td><td>$5.20</td></tr>
                <tr><td>7</td><td>$12.00</td><td>$9.60</td><td>$7.00</td><td>$5.60</td></tr>
                <tr><td colspan="5">Passengers travelling to and from the Airport count the Airport stop as another zone. For example: Travelling from Wellington Airport to Wellington city is 4 zones = $9.00 adult cash fare.</td></tr>
            </tbody>
            </table>
            
            <p>Other fare products that can be used on the Airport Flyer are:</p>
            <ul>
                <li><a href="/tickets-and-fares/how-to-pay-your-fare/monthly-passes/#huttcommuter">Hutt Commuter 30 Day Pass</a></li>
                <li><a href="/tickets-and-fares/how-to-pay-your-fare/monthly-passes/#getabout">GetAbout 30 Day Pass</a></li>
                <li><a href="/tickets-and-fares/supergold/">SuperGold</a> card holders - for travel on offpeak services only.</li>
                <li><a href="/tickets-and-fares/how-to-pay-your-fare/day-passes/#explorer">Metlink Explorer ticket</a> - valid after 9.00am on weekdays and all day on weekends and public holidays. </li>
            </ul>
            
        </div>
                        
        
    </div>

{% endblock %}