{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
    
        <div class="page-header">
            <h1>Cable car</h1>
        </div>
 
       <div class="content">

            <p>The cable car is operated by <a title="Wellington Cable Car New Zealand" href="https://www.wellingtoncablecar.co.nz/" target="_blank">Wellington Cable Car New Zealand</a>. Full up-to-date details on <a title="Cable car fares and ticketing" href="https://www.wellingtoncablecar.co.nz/English/TimetableFares.html" target="_blank">fares and ticketing</a> are available from the cable car website.</p>
       
            <table class="table">
            <thead>
                <tr>
                    <th class="col-md-1"></th>
                    <th class="col-md-1">Adult</th>
                    <th class="col-md-1">Child*</th>
                    <th class="col-md-1">Student#</th>
                    <th class="col-md-1">Family^</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Single cash</td><td>$4.00</td><td>$2.00</td><td>$2.00</td><td>-</td></tr>
                <tr><td>Single Snapper</td><td>$3.50</td><td>-</td><td>-</td><td>-</td></tr>
                <tr><td>Return</td><td>$7.50</td><td>$3.50</td><td>$3.50</td><td>$19.00</td></tr>
                <tr><td>10-trips</td><td>$28.00</td><td>$14.00</td><td>$14.00</td><td>-</td></tr>
                <tr><td>25-trips</td><td>$56.00</td><td>$28.00</td><td>$28.00</td><td>-</td></tr>
                <tr>
                    <td colspan="5">* Child fares are available to children aged 5 to 15. Children under 5 years travel free.</td>
                </tr><tr>
                    <td colspan="5"># Student fares are available to New Zealand full-time tertiary students. Tertiary student ID is required.</td>
                </tr><tr>
                    <td colspan="5">^ Family fares are available for 2 adults and up to 4 children travelling together.</td>
                </tr><tr>
                    <td colspan="5">Full <a title="Cable car fares and ticketing" href="https://www.wellingtoncablecar.co.nz/English/TimetableFares.html" target="_blank">terms and conditions</a> are available on the cable car website.</td>
                </tr>
            </tbody>
            </table>
       
        </div>
        
    </div>

{% endblock %}