{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
    
        <div class="page-header">
            <h1>Commuter buses</h1>
        </div>
 
       <div class="content">
      
            <table class="table">
            <thead>
                <tr>
                    <th class="col-md-1"></th>
                    <th class="col-md-1">Adult cash</th>
                    <th class="col-md-1">Adult smartcard</th>
                    <th class="col-md-1">Child cash</th>
                    <th class="col-md-1">Child smartcard</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Route 80 Wainuiomata Commuter *</td><td>$8.00</td><td>$6.33</td><td>$4.00</td><td>$3.17</td></tr>
                <tr><td>Route 90 Stokes Valley Commuter</td><td>$8.00</td><td>$6.33</td><td>$4.00</td><td>$3.17</td></tr>
                <tr><td>Routes 92, 93 Upper Hutt Commuter buses #</td><td>$9.00</td><td>$7.18</td><td>-</td><td>-</td></tr>
                <tr><td>Route 97 Polytech Link - 2 zones</td><td>$7.00</td><td>$5.65</td><td>-</td><td>-</td></tr>
                <tr><td>Route 97 Polytech Link - 3 zones</td><td>$7.50</td><td>$6.15</td><td>-</td><td>-</td></tr>
                <tr><td>Route 97 Polytech Link - 4 zones</td><td>$8.00</td><td>$6.65</td><td>-</td><td>-</td></tr>
                <tr>
                    <td colspan="5">* Route 80 flat fare of $8.00 for travel between Wainuiomata and Wellington. Zonal fares apply for all other journeys (eg, within Wainuiomata or from Wellington to Gracefield or Petone to Wainuiomata)</td>
                </tr><tr>
                    <td colspan="5"># Route 92 and 93 customers can travel on the Hutt Commuter 30 Day pass. This ticket will allow you to travel not only on Routes 92 and 93* services but also Airport Flyer, Valley Flyer and GO Wellington services.</td>
                </tr>
            </tbody>
            </table>
       
        </div>
        
    </div>

{% endblock %}