{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
            
        <div class="page-header">
            <h1>Event tickets</h1>
        </div>
        <div class="content">
            <p>Event tickets are valid for travel on the rail network (excluding Wairarapa line) for selected events only. Additional train services are often provided to manage the extra volume of people.</p> 
            
            <p>Return trip event tickets are available anytime from Metlink ticket offices and agents or on-board staff on event days. Single trip event tickets are available only after an event from the barrier staff at the entrance to the Wellington Railway Station platform.</p>
            
            <p>Event tickets are valid on specified event days and up until 1.15am the following day. For more information call Metlink on 0800 801 700.</p>

            <table class="table">
            <thead>
                <tr><th></th><th>Adult return</th><th>Child return</th><th>Adult single</th><th>Child single</th></tr>
            </thead>
            <tbody>
                <tr><td>Hutt Valley &amp; Kapiti lines</td><td>$12.00</td><td>$6.00</td><td>$6.00</td><td>$3.00</td></tr>
                <tr><td>Johnsonville Line</td><td>$8.00</td><td>$4.00</td><td>$4.00</td><td>$2.00</td></tr>
            </tbody>
            </table>
            
            <h3>Stadium Shuttle</h3>
            <p>These are special GO Wellington shuttle bus services that run during selected events only. The shuttles run between Courtenay Place and Westpac Stadium before and after the events.</p>
            <ul>
                <li>Adult one way - $5.00</li>
                <li>Child one way - $3.00</li>
            </ul>
            <p>SuperGold cards and BusAbout tickets are not accepted. Snapper discount does not apply. GetAbout 30 Day Pass, GO Wellington 30 Day Pass and Metlink Explorer passes are accepted.</p>
            
        </div>
        
    </div>

{% endblock %}