{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
    
        <div class="page-header">
            <h1>Harbour ferry</h1>
        </div>
 
       <div class="content">

            <table class="table">
            <thead>
                <tr>
                    <th class="col-md-1"></th>
                    <th class="col-md-3"></th>
                    <th class="col-md-1">Adult</th>
                    <th class="col-md-1">Child*</th>
                    <th class="col-md-1">Student#</th>
                    <th class="col-md-1">Family^</th>
                </tr>
            </thead>
            <tbody>
                <tr><th>Single</th><td>Queens Wharf, Days Bay & Seatoun</td><td>$11.00</td><td>$6.00</td><td>$9.00</td><td>-</td></tr>
                <tr><th rowspan="3">Return</th><td>Queens Wharf, Days Bay & Seatoun</td><td>$22.00</td><td>$12.00</td><td>$18.00</td><td>$61.00</td></tr>
                <tr><td>Matiu Somes Island fares</td><td>$23.00</td><td>$12.00</td><td>$19.00</td><td>$67.00</td></tr>
                <tr><td>Harbour Explorer Excursion</td><td>$22.00</td><td>$12.00</td><td>$18.00</td><td>-</td></tr>
                <tr><th rowspan="2">10-trip</th><td>Queens Wharf and Days Bay</td><td>$87.00</td><td>$37.00</td><td>$61.00</td><td>-</td></tr>
                <tr><td>Seatoun</td><td>$71.00</td><td>$54.00</td><td>-</td><td>-</td></tr>
                <tr><th>Monthly pass</th><td>Queens Wharf, Days Bay & Seatoun</td><td>$270.00</td><td>-</td><td>$199.00</td><td>-</td></tr>
                <tr>
                    <td colspan="6">* Child fares are available to children aged 3 to 15 and to secondary school students aged 16 to 19 in school uniform or whith approved school ID. Children under 3 years travel free.</td>
                </tr><tr>
                    <td colspan="6"># Student fares are available to full-time tertiary students. Tertiary student ID is required.</td>
                </tr><tr>
                    <td colspan="6">^ Family fares are available for 2 adults and up to 4 children travelling together.</td>
                </tr>
            </tbody>
            </table>
       
        </div>
        
    </div>

{% endblock %}