{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
    
			<div class="page-header">
				<h1>Capital Connection</h1>
			</div>
			<div class="content">
            <p>The Capital Connection is a peak commuter service from Palmerston North to Wellington. It stops at Otaki, Waikanae and Paraparaumu stations within the Wellington region. The  service is operated by <a href="http://kiwirailscenic.co.nz" target="_blank">KiwiRail Scenic Journeys</a>. The timetable and fares are available from the <a title="Capital Connection web page" href="http://www.kiwirailscenic.co.nz/other-services/capital-connection/" target="_blank">this</a> webpage.</p>
            
            <p><a href="http://kiwirailscenic.co.nz" target="_blank">KiwiRail Scenic Journeys</a> also operate a <a title="Northern explorer timetable page" href="http://www.kiwirailscenic.co.nz/northern-explorer/?servicename=Northern%20Explorer" target="_blank">Northern Explorer</a> service between Wellington and Auckland, with stops at Wellington and Paraparaumu stations in the Wellington region.</p>
            
            </div>
                
    </div>

{% endblock %}