{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
        <div class="page-header">
            <h1>Other fares</h1>
        </div>
 
       <div class="content">
            <p>The following other fares are also available:</p>
            <ul style="margin-left: 0; padding-left: 0;">
                <li><a href="{{ url_for('metlink.tickets_and_fares_ferry') }}" title="Go to Harbour Ferry page">Harbour Ferry</a></li>
                <li><a href="{{ url_for('metlink.tickets_and_fares_airport') }}" title="Go to Travelling to/from the Airport page">Airport Flyer</a></li>
                <li><a href="{{ url_for('metlink.tickets_and_fares_kiwirail_services') }}" title="Go to KiwiRail services page">Capital Connection</a></li>
                <li><a href="{{ url_for('metlink.tickets_and_fares_cablecar') }}" title="">Cable car</a></li>
                <li><a href="{{ url_for('metlink.tickets_and_fares_commuter_buses') }}" title="Go to Commuter buses page">Commuter buses</a></li>
                <li><a href="{{ url_for('metlink.tickets_and_fares_after_midnight_buses') }}" title="Go to After Midnight buses page">After Midnight buses</a></li>
                <li><a href="{{ url_for('metlink.tickets_and_fares_event_tickets') }}" title="Go to Event Tickets page">Event Tickets</a></li>
                <li><a href="{{ url_for('metlink.tickets_and_fares_supergold') }}" title="Go to Travelling with SuperGold page">Supergold</a></li>
            </ul>
        </div>
        
    </div>


{% endblock %}