{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
    
        <div class="page-header">
            <h1>Travelling with SuperGold</h1>
        </div>
        <div class="content">

            <p>The Supergold card provides free off-peak travel between 9am and 3pm and after 6.30pm Monday to Friday and all day weekends and public holidays.</p>
            
            <a title="supergold card users brochure dec 2015" href="/assets/Publication-PDFs/Super-gold-users-booklet-december-2015-WEB.pdf" target="_blank">Travelling with a Supergold Card brochure</a>
            
           
           <h3>Questions and answers</h3>
           <table class="table">
           <tbody>
           <tr>
               <td>How do I use my SuperGold card to travel for free?</td>
               <td>Simply present your SuperGold card to tde train staff or bus driver.</td>
           </tr>
           <tr>
               <td>What happens if I want to travel during times outside SuperGold hours?</td>
               <td>You will need to pay tde <a href="/tickets-and-fares/">adult fare</a>.<a href="adults/"></a></td>
           </tr>
           <tr>
               <td>Where do I get furtder information</td>
               <td>For general information about SuperGold cards please call 0800 25 45 65 or visit <a href="http://www.supergold.govt.nz" target="_blank">www.supergold.govt.nz</a>. tde Supergold card scheme is a Government scheme.</td>
           </tr>
           </tbody>
           </table>
        
        </div>
        
    </div>

{% endblock %}