{% extends "metlink/base.html" %}

{% block nav %} 

<div class="row hasImage">
    <div class="col-xs-12 col-sm-4 col-md-3 subNavHolder">
        <div class="sidebar panel panel-primary">
            <div class="panel-heading">
                <h3>
                    <a class="panel-toggle pull-right visible-xs" data-toggle="collapse" data-parent=".panel-primary" href="{{ url_for('metlink.tickets_and_fares') }}#panel-body-id">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"> </span>
                    </a>
                    <a href="{{ url_for('metlink.tickets_and_fares') }}">Tickets and fares</a>
                </h3>
            </div>
            <div class="panel-body collapse in" id="panel-body-id">
                <ul id="SubNav" class="navigation list-group">
                    <li class="link list-group-item">
                        <a href="{{ url_for('metlink.tickets_and_fares') }}" title="Tickets and fares">Standard fares</a>
                        <ul class="list-group">
                            <li class="list-group-item link first"><a href="{{ url_for('metlink.tickets_and_fares') }}" title="">Fare schedule</a></li>
                            <li class="list-group-item link"><a href="{{ url_for('metlink.tickets_and_fares_fare_zones') }}" title="Go to Fare zones page">Fare zones</a></li>
                            <li class="list-group-item link"><a href="{{ url_for('metlink.tickets_and_fares_rail_offpeak') }}" title="">Rail off-peak</a></li>
                            <li class="list-group-item link"><a href="{{ url_for('metlink.tickets_and_fares_school_term') }}" title="Go to School Term Passes page">School Term</a></li>                          
                            <li class="list-group-item link "><a href="{{ url_for('metlink.tickets_and_fares_period_passes') }}" title="Go to Period Passes page">Period passes</a></li> 
                            <li class="list-group-item link"><a href="{{ url_for('metlink.tickets_and_fares_transfer_tickets') }}" title="transfer tickets ">Transfer tickets</a></li>
                            <li class="list-group-item link last"><a href="{{ url_for('metlink.tickets_and_fares_station_lookup') }}" title="station lookup">Station lookup</a></li>
                        </ul>
                    </li>
                    <li class="link list-group-item">
                        <a href="{{ url_for('metlink.tickets_and_fares_other_fares') }}" title="Go to Other fares page">Other fares</a>
                        <ul class="list-group">
                            <li class="list-group-item link first"><a href="{{ url_for('metlink.tickets_and_fares_ferry') }}" title="Go to Harbour Ferry page">Harbour ferry</a></li>
                            <li class="list-group-item link"><a href="{{ url_for('metlink.tickets_and_fares_airport') }}" title="Go to Travelling to/from the Airport page">Airport buses</a></li>
                            <li class="list-group-item link last"><a href="{{ url_for('metlink.tickets_and_fares_other_fares') }}" title="Other fares">Other</a></li>
                        </ul>                        
                    </li>
                    <li class="link list-group-item">
                        <a href="{{ url_for('metlink.tickets_and_fares_how_to_pay_your_fare') }}" title="Go to How to pay your fare page">How to pay your fare</a>
                        <ul class="list-group">
                            <li class="list-group-item link first"><a href="{{ url_for('metlink.tickets_and_fares_where_to_buy_your_ticket') }}" title="Go to Where to buy your ticket page">Where to buy your ticket</a></li>
                            <li class="list-group-item link "><a href="{{ url_for('metlink.tickets_and_fares_order_monthly_train_passes') }}" title="Go to Order Monthly Train Passes page">Order monthly pass online</a></li>
                            <li class="list-group-item link last"><a href="{{ url_for('metlink.tickets_and_fares_stored_value') }}" title="Go to Stored value cards page">Stored value cards</a></li>
                        </ul>
                    </li>
                    <li class="link list-group-item">
                        <a href="{{ url_for('metlink.tickets_and_fares_fare_manual') }}" title="">Fare rules</a>
                        <ul class="list-group">
                            <li class="list-group-item link first"><a href="{{ url_for('metlink.tickets_and_fares_new_look_fares') }}" title="Go to New look tickets page">New look tickets</a></li>
                            <li class="list-group-item link"><a href="{{ url_for('metlink.tickets_and_fares_changes_to_some_of_our_train_tickets') }}" title="Go to Changes to some of our train tickets page">Changes to some of our train tickets</a></li>
                            <li class="list-group-item link last"><a href="{{ url_for('metlink.tickets_and_fares_conditions_of_travel') }}" title="Go to Conditions of Carriage page">Conditions of Carriage</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}