{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
    
			<div class="page-header">
				<h1>Conditions of carriage</h1>
			</div>
			<div class="content">
            
                <p>Public transport operators have terms and conditions which cover things such as: Fares, tickets, and connections, company and customer responsibilities, luggage, pets, prohibited items, etc.</p>
                
                <ul style="margin-left: 0; padding-left: 0;">
                    <li>Rail conditions of carriage are set out in the <a title="Conditions of Carriage" href="/assets/Conditions-of-Carriage-WEBSITE-FINAL-v2.pdf">conditions of carriage for travel on rail passenger services</a> (last updated August 2016).</li>
                    <li>Bus and ferry conditions of carriage are published by the individual transport operators, on their websites:
                        <ul>
                            <li><a href="http://www.gowellingtonbus.co.nz/terms-and-conditions-gowellington" target="_blank">Go Wellington</a></li>
                            <li><a href="http://www.valleyflyer.co.nz/terms-and-conditions-valleyflyer" target="_blank">Valley Flyer</a></li>
                            <li><a href="http://www.uzabus.co.nz/code-of-conduct.htm" target="_blank">Madge/Uzabus</a></li>
                            <li><a title="mana coach services terms and conditions" href="http://www-manacoach-co-nz.saturn.netactive.co.nz/terms-conditions" target="_blank">Mana Coach Services</a></li>
                            <li><a title="newlands coach services terms and conditions" href="http://www.newlands.co.nz/terms-conditions" target="_blank">Newlands Coach Services</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

    </div>

{% endblock %}