{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
        <div class="page-header">
            <h1>Fare rules</h1>
        </div>
 
       <div class="content">
            
            <p>A detailed specification of fare rules will be available shortly for download.</p>

            <p>Changes to fare products:</p>
            <ul style="margin-left: 0; padding-left: 0;">
                <li><a href="{{ url_for('metlink.tickets_and_fares_new_look_fares') }}" title="Go to New look tickets page">New look tickets</a></li>
                <li><a href="{{ url_for('metlink.tickets_and_fares_changes_to_some_of_our_train_tickets') }}" title="Go to Changes to some of our train tickets page">Changes to some of our train tickets</a></li>
                <li><a href="{{ url_for('metlink.tickets_and_fares_conditions_of_travel') }}" title="Go to Conditions of Carriage page">Conditions of Carriage</a></li>
            </ul>
        </div>
        
    </div>

{% endblock %}