{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
        <div class="page-header">
            <h1>Fare zones</h1>
        </div>
 
       <div class="content">
            <h3>Fare zone boundaries</h3>
            
            <p>Wellington fares are based on a zone system. The <a title="fares and tickets" href="{{ url_for('metlink.tickets_and_fares_fare_zones') }}">fare you pay</a> is based on how many zones you travel through. Just count the number of zones you will travel through, including the ones you will start and finish your journey in. 
            
            <p><a title="fare zone map pdf july 2016" href="/assets/FareZoneMap/Fare-zone-map-July-2016.pdf" target="_blank">Download fare zome map.</a></p>
            <p><img class="leftAlone" title="" src="/assets/FareZoneMap/Fare-zone-map-July-2016.png" alt="Wellington fare zone map" width="1241" height="916"></p>

            <h3>Fare zone descriptions</h3>
            <table class="table">
            <thead>
            <tr>
                <th>Zone</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Zone 1</td> 
                <td>Fare zone 1 covers the central city area including Thorndon, Te Aro, Aro Valley, Mt Victoria and Oriental Bay. The boundary between zone 1 and zone 2 occurs at the following points: 
                <ul>
                    <li>Hutt Road at Aotea Quay (stops 5026 and 5488) </li>
                    <li>Grant Road at Newman Terrace (stops 4116 and 5116) </li>
                    <li>Glenmore Street at Botanic Gardens (stops 4313 and 5313) </li>
                    <li>Victoria University Kelburn Campus (stops 4915 and 5915) </li>
                    <li>Brooklyn Road at Bidwill Street (stops 6715 and 7715) </li>
                    <li>Wallace Street at Massey University (stops 6914 and 7914) </li>
                    <li>Adelaide Road at Basin Reserve (stops 6014 and 7014) </li>
                    <li>Pirie Street at Bus Tunnel (stops 6215 and 7215) </li>
                    <li>Palliser Road - Town Belt ((between stops) </li>
                    <li>Oriental Parade at Carlton Gore Road (stops 6519 and 7519).</li> 
                </ul></td>
            </tr>
            <tr>
                <td>Zone 2</td> 
                <td>Fare zone 2 covers Kaiwharawhara, Wadestown, Mairangi, Wilton, Northland, Kelburn, Highbury, Brooklyn, Kowhai Park, Kingston, Vogeltown, Berhampore, Newtown, Wellington Hospital, Hataitai, Mt Victoria summit and Roseneath. The boundary between zone 2 and zone 3 occurs at the following points: 
                <ul>
                    <li>Hutt Road at Rangiora Avenue (stops 3258 and 3260) </li>
                    <li>Kaiwharawhara Road/Ngaio Gorge Road (stops 4404 and 5404)</li> 
                    <li>Churchill Drive/Blackbridge Road </li>
                    <li>Karori Tunnel at Karori end (stops 4320, 5320 and 5380)</li> 
                    <li>Happy Valley Road (northbound at stop 7795; southbound at stop 6794) </li>
                    <li>Adelaide Road at Wakefield Park (between stops) </li>
                    <li>Mt Albert Road at Mt Albert Park (between stops) </li>
                    <li>Sutherland Road at Sutherland Crescent (stops 6926 and 7926) </li> 
                    <li>Kilbirnie Shops (stops 6224, 6026 and 7026).</li> 
                </ul></td>
            </tr>
            <tr>
                <td>Zone 3</td> 
                <td>Fare zone 3 covers the remaining suburbs in Wellington City, including: to the south,  Maupuia, Miramar, Seatoun, Strathmore, the Airport, Rongotai, Lyall Bay, Southgate, Houghton Bay, Island Bay, Owhiro Bay and Happy Valley.  Karori in the west, and in the North, Crofton Downs, Ngaio, Awarua Street, Simla Crescent, Box Hill, Khandallah, Ngauranga, Broadmeadows, Raroa, Newlands, Johnsonville, Paparangi, Grenada Village, and Churton Park. The boundary between zone 3 and zone 4 occurs at the following points: 
                <ul>
                    <li>Middleton Road at Rail Tunnel (between stops)</li>
                    <li>Hutt Road at Horokiwi Road (between stops).</li>
                </ul></td>
            </tr>
            <tr>
                <td>Zone 4</td> 
                <td>Fare zone 4 covers Takapu Road, Redwood, Tawa, Linden, Korokoro, Maungaraki, Normandale, Harbourview, Tirohanga, Melling, Boulcott, Hutt Central, Queensgate, Alicetown, Petone, Ava, Woburn, Moera, Waiwhetu, Waterloo, Epuni, Gracefield, Seaview and Hutt Hospital. The boundary between zone 4 and zone 5 occurs at the following points: 
                <ul>
                    <li>Main Road/Kenepuru Drive at Wall Place (between stops)</li> 
                    <li>Marine Drive at Port Road (stops 8737 and 9837) </li>
                    <li>High Street at Hutt Hospital (stops 8123 and 9223) </li>
                    <li>Western Hutt Road between Melling and Belmont (between stops)</li>
                    <li>Oxford Terrace at Epuni Station (stops 8201 and 9201) </li>
                    <li>Wainuiomata Hill summit (between stops). </li>
                </ul></td>
            </tr>
            <tr>
                <td>Zone 5</td> 
                <td>Fare zone 5 covers Porirua, Elsdon, Kenepuru, Kelson, Belmont, Pomare, Taita, Wingate, Naenae, Fairfield, Wainuiomata, Point Howard, and Mahina Bay. The boundary between zone 5 and zone 6 occurs at the following points: 
                <ul>
                    <li>Titahi Bay Road at Whanga Crescent walkway (stops 2816 and 2866) </li>
                    <li>Okowai Road, south of Frances Brown Avenue (between stops) </li>
                    <li>Whitford Brown Avenue at Aotea College (stops 2700 and 2784) </li>
                    <li>Cannons Creek Shops (stops 2112 and 2164) </li>
                    <li>High Street at Eastern Hutt Road (between stops)</li> 
                    <li>Marine Drive between Mahina Bay and Sunshine Bay (between stops).</li> 
                </ul></td>
            </tr>
            <tr>
                <td>Zone 6</td> 
                <td>Fare zone 6 covers Titahi Bay, Papakowhai, Ascot Park, Waitangirua, Whitby, Paremata, Mana, Plimmerton, Manor Park, Silverstream, Stokes Valley, and Heretaunga. The boundary between zone 6 and zone 7 occurs at the following points: 
                <ul>
                    <li>Fergusson Drive at Camp Street (Trentham Shops) (stops 8467 and 9567) </li>
                    <li>Ararino Street at Trentham Station (stops 9525 and 9526) </li>
                    <li>Trentham Station </li>
                <ul></td>
            </tr>
            <tr>
                <td>Zone 7</td> 
                <td>Fare zone 7 covers Pukerua Bay, Muri, Emerald Hill, Totara Park, Timberlea, Upper Hutt, Wallaceville and Trentham. The boundary between zone 7 and zone 8 occurs at the following points: 
                <ul>
                    <li>State Highway 2 between Emerald Hill and Te Marua </li>
                    <li>Trentham Station </li>
                </ul></td>
            </tr>
            <tr>
                <td>Zone 8</td> 
                <td>Fare zone 8 covers Paekakariki, Te Marua, and Maymorn. The boundary between zone 8 and zone 9 occurs at McKays Crossing, SH1 (between stops).</td>
            </tr>
            <tr>
                <td>Zone 9</td> 
                <td>Fare zone 9 covers Raumati, Raumati South, Paraparaumu, and Paraparaumu Beach. The boundary between zone 9 and zone 10 occurs at Waikanae River Bridge, SH1 (between stops).</td>
            </tr>
            <tr>
                <td>Zone 10</td> 
                <td>Fare zone 10 covers Waikanae and Waikanae Beach. The boundary between zone 10 and zone 11 occurs at Greenhill Road - SH1 (between stops). </td>
            </tr>
            <tr>
                <td>Zone 11</td> 
                <td>Fare zone 11 covers Peka Peka on the west coast and Featherston in the Wairarapa. The boundary between zone 11 and zone 12 occurs at the following points: 
                <ul>
                    <li>Te Hapua Road - SH1 (between stops) </li>
                    <li>Tauherenikau River bridge - SH2 (between stops) </li>
                    <li>Tauherenikau River bridge - SH53 (between stops). </li>
                </ul></td>
            </tr>
            <tr>
                <td>Zone 12</td> 
                <td>Fare zone 12 covers Te Horo on the west coast, and Woodside and Greytown in the Wairarapa. The boundary between zone 12 and zone 13 occurs at the following points: 
                <ul>
                    <li>Otaki River Bridge (between stops) </li>
                    <li>Waiohine River Bridge (between stops) </li>
                    <li>Ruamahanga River bridge (between stops). </li>
                </ul>
                </td>
            </tr>
            <tr>
                <td>Zone 13</td> 
                <td>Fare zone 13 covers Otaki and Otaki Beach on the west coast, Carterton, Matarawa and Martinborough in the Wairarapa. The boundary between zone 13 and zone 14 occurs at Waingawa River Bridge, SH2  (between stops).</td>
            </tr>
            <tr>
                <td> Zone 14</td> 
                <td>Zone 14 is the final zone, and covers Masterton in the Wairarapa, including Masterton Station, Renall Street Station and Solway Station.</td>
            </tr>
            </tbody>
            </table>
            <p>&nbsp;</p>
        </div>
        

        
    </div>


{% endblock %}