{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
        <div class="page-header">
            <h1>Tickets and fares</h1>
        </div>

        <div class="content">

        <h2>How to pay your fare</h2>
        
        
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-3">Fare type</th>
                    <th class="col-md-3">Bus</th>
                    <th class="col-md-3">Train</th>
                    <th class="col-md-3">Ferry</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Single cash fares</td>
                    <td>Before boarding have your cash ready to give to the driver. Correct change is appreciated, though small change can be given.</td>
                    <td>Have your cash fare ready to give to the train staff as they move through the train. Correct change is appreciated, though small change can be given. Single cash fares can also be purchased from a ticket office before you board the train.</td>
                    <td rowspan="6">Single cash fares, return fares, 10-trip tickets and monthly passes can be bought using cash or eftpos from on-board staff as they make their way around the Harbour Ferry.  Alternatively tickets can be purchased from the East by West office in Wellington, near the mooring (1 Queens Wharf, Wellington, 6011).</td>
                </tr>
                <tr>
                    <td>Stored Value Cards</td>
                    <td>These can be purchased from the appropriate operator’s ticket agencies, selected bus depots or in some instances from their website or selected bus drivers. When you board the bus hold the card up to the scanner or put it on the machine. Snapper cards also require you to tag off as you leave the bus.</td>
                    <td>NA</td>
                </tr>
                <tr>
                    <td>10-trip tickets</td>
                    <td>NA</td>
                    <td>These tickets can be bought from the train stations and ticket agents.</td>
                </tr>
                <tr>
                    <td>Monthly passes</td>
                    <td>These passes are only available from the relevant bus depot or ticket agencies. You need to tag on or show your pass each time you board the bus.</td>
                    <td>These passes can be purchased from Metlink stations and ticket agents or online. You need to show your pass each time you travel as train staff pass through the train.</td>
                </tr>
                <tr>
                    <td>Day passes</td>
                    <td>These passes can be purchased from the driver. Each time you board you need to show the driver your pass.</td>
                    <td>These passes can be purchased from the on-board train staff or from a ticket office before you board the train.  You need to show your pass each time you travel as train staff pass through the train.</td>
                </tr>
                <tr>
                    <td>Wairarapa trains</td>
                    <td>NA</td>
                    <td>A minimum adult cash fare of $10.50 applies for journeys from Wellington to Petone, Waterloo and Upper Hutt stations on Wairarapa trains.  Waterloo or Petone 10-trip or monthly pass holders must pay a $5.00 cash surcharge, Upper Hutt 10-trip or monthly pass holders must pay a $1.00 cash surcharge. The minimum fare does not apply to Wellington-bound services.</td>
                </tr>

                </tbody>
            </table>
        
            <h2>Other ways we can help:</h2>
            <ul>
                <li>The <a class="ss-broken" href="https://www.metlink.org.nz/##plan">Journey Planner</a> can calculate your cash fare and also plan your trip</li>
                <li>Call the Metlink information line on 04 801 7000 or 0800 801 700</li>
                <li>Email <a href="mailto:info@metlink.org.nz">info@metlink.org.nz</a></li>
                <li>Follow us on&nbsp;Twitter <a title="Metlink Twitter account" href="https://twitter.com/metlinkwgtn" target="_blank">@metlinkwgtn</a>&nbsp;</li>
            </ul>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
       </div>
    </div>
</div>


{% endblock %}