{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
        <div class="page-header">
            <h1>Tickets and fares</h1>
        </div>

        <div class="content">

            <h2>Standard fares<a name="fares" class="anchor"></a></h2>
            
            <p>Wellington fares are based on a  <a title="fare zones" href="{{ url_for('metlink.tickets_and_fares_fare_zones') }}">zone system</a>. The fare you pay is based on how many zones you travel through. Just count the number of zone you will travel through, including the ones you will start and finish your journey in.</p>

            <table class="table">
            <thead>
                <tr>
                    <th class="col-md-1">Zones<br/>travelled</th>
                    <th class="col-md-1">Adult<br/>Cash</th>
                    <th class="col-md-1">Adult<br/>Prepaid #</th>
                    <th class="col-md-1">Adult<br/>Monthly ^</th>
                    <th class="col-md-1">Child<br/>Cash</th>
                    <th class="col-md-1">Child<br/>Prepaid #</th>
                    <th class="col-md-1">Child<br/>Monthly ^</th>
                </tr>
            </thead>
            <tbody>
                {% for zone in fare_table %}
                    <tr>
                        <td>{{ zone.zones }}</td>
                        <td>{{ zone.adult_cash }}</td>
                        <td>{{ zone.adult_prepaid }}</td>
                        <td>{{ zone.adult_month }}</td>
                        <td>{{ zone.child_cash }}</td>
                        <td>{{ zone.child_prepaid }}</td>
                        <td>{{ zone.child_month }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="7">* Child fares are available to children aged 5 to 15 and to secondary school students in school uniform or whith approved school ID. Children under 5 years travel free.</td>
                </tr>
                <tr>
                    <td colspan="7"># Prepaid fares include smartcard (Snapper) and rail 10-trip (priced at 10x fare shown).</td>
                </tr>
                <tr>
                    <td colspan="7">^ Monthy passes are only available on rail.</td>
                </tr>
                <tr>
                    <td colspan="7">Journeys requiring a change of vehicle will usually require an additional fare, unless you are using a <a title="transfer tickets" href="/tickets-and-fares/transfer-tickets/">transfer ticket</a> or <a title="period passes" href="/tickets-and-fares/period-passes/">period pass</a> that allows transfers.</td>
                </tr>
                <tr>
                    <td colspan="7">GO Wellington bus services have a 3 zone maximum fare.</td>
                </tr>
            </tbody>
            </table>
            
   
       </div>
    </div>
</div>


{% endblock %}