{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
    
        <div class="page-header">
            <h1>New look tickets</h1>
        </div>
        <div class="content"><h4>We’re simplifying public transport in greater Wellington.</h4><p>Together, we’re working towards a low emission public transport network&nbsp;to take greater Wellington into the future. Part of this process is to unify the region’s&nbsp;public transport under one brand – <strong>Metlink</strong>.&nbsp;</p><p>Rail services are the first to change. From 3 July we have a new operator of the region's rail services, Transdev Wellington Ltd.&nbsp;The new contract provides more incentives for the operator to provide efficient, quality services that will encourage more people to use public transport.</p><p>Tickets have now been rebranded to Metlink. If you still have a Tranz Metro branded ticket in your purse or wallet, don't worry, we still accept them.</p><p>Some Tranzmetro 10 trip tickets were printed with an expiry date. You can continue to use these after the expiry date.</p><p>This is one of the first steps in transforming Wellington's public transport network. If you want to keep up to date go to&nbsp;<a href="https://www.metlink.org.nz/my-metlink/">My Metlink</a>, create an account, set up the bus or train you use to get around, and tick the box to receive emails from us.</p><h4>Samples of the new tickets:&nbsp;</h4><p><img class="leftAlone" title="" src="http://localhost:5000/assets/TICKETS-WITH-WATERMARK-2.jpg" alt="TICKETS WITH WATERMARK 2" width="600" height="288"></p><p><a><br><br><br><br></a></p><p>&nbsp;</p><p>&nbsp;</p></div>
        
    </div>

{% endblock %}