{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
    

			<div class="page-header">
				<h1>Order monthly pass online</h1>
			</div>
			
			<div class="content">
            
            <p><strong>Skip the queues</strong> - you can purchase your rail monthly pass online and we will post it out to you in time to use next month. Follow the steps and enter your credit card number into our secure payment system. If you have any issues with our online monthly pass purchase call us on <strong>0800 801 700</strong>.</p></div>
			
				<header class="row order-header">
	<div class="col-md-4">
		
		<h3 class="step-counter_title">Step 1 of 4</h3> 
	</div>
	<div class="col-md-8">
		<div class="step-counter">
				<a href="/tickets-and-fares/how-to-pay-your-fare/order-monthly-train-passes/select" class="step active">
					<span class="step-icon"></span>
					<span class="step-text">1. Train Select</span>
				</a>
				<a  class="step ">
					<span class="step-icon"></span>
					<span class="step-text">2. Your Details</span>
				</a>
				<a  class="step ">
					<span class="step-icon"></span>
					<span class="step-text">3. Confirm</span>
				</a>
				<a class="step last ">
					<span class="step-icon"></span>
					<span class="step-text">4.Payment</span>
				</a>
		</div>
	</div>
</header>
				
<form id="FareCalulatorForm_FareCalculatorForm" action="/tickets-and-fares/how-to-pay-your-fare/order-monthly-train-passes/FareCalculatorForm" method="post" enctype="application/x-www-form-urlencoded" class="form-horizontal validate" role="form">

	
	
	<fieldset>
		 

		

			<h4 class="forms-step_heading">1. Train Select</h4>

			
				<div class="field-row field-row-hl">
					<div id="Line"  class="has-feedback form-group" >
						<div class="col-md-5">
							<label class="label-light label-blue" for="FareCalulatorForm_FareCalculatorForm_Line">Select a Train Line:</label>
							<select name="Line" class="dropdown form-control" id="FareCalulatorForm_FareCalculatorForm_Line" required="required" aria-required="true">

	<option value="" selected="selected">- please select a Line -</option>

	<option value="HVL">Hutt Valley Line (Upper Hutt - Wellington)</option>

	<option value="JVL">Johnsonville Line (Johnsonville - Wellington)</option>

	<option value="MEL">Melling Line (Melling - Wellington)</option>

	<option value="WRL">Wairarapa Line (Masterton - Wellington)</option>

	<option value="KPL">Kapiti Line (Waikanae - Wellington)</option>

</select>

							<span class="glyphicon form-control-feedback"></span>  
						</div>
					</div>
				</div>
			
			<div class="field-row ">
				<div class="form-group">
					
						<div id="From"  class="has-feedback" >
								<div class="col-md-5">
									<label class="label-light label-blue" for="FareCalulatorForm_FareCalculatorForm_From">Travelling Between:</label>
									<select name="From" class="dropdown stop-field form-control" id="FareCalulatorForm_FareCalculatorForm_From" required="required" aria-required="true">

	<option value="" selected="selected">- please select a Line -</option>

	<option value="WELL">Wellington Station</option>

	<option value="NGAU">Ngauranga Station</option>

	<option value="PETO">Petone Station</option>

	<option value="AVA">Ava Station</option>

	<option value="WOBU">Woburn Station</option>

	<option value="WATE">Waterloo Station</option>

	<option value="EPUN">Epuni Station</option>

	<option value="NAEN">Naenae Station</option>

	<option value="WING">Wingate Station</option>

	<option value="TAIT">Taita Station</option>

	<option value="POMA">Pomare Station</option>

	<option value="MANO">Manor Park Station</option>

	<option value="SILV">Silverstream Station</option>

	<option value="HERE">Heretaunga Station</option>

	<option value="TREN">Trentham Station</option>

	<option value="WALL">Wallaceville Station</option>

	<option value="UPPE">Upper Hutt Station</option>

	<option value="CROF">Crofton Downs Station</option>

	<option value="NGAI">Ngaio Station</option>

	<option value="AWAR">Awarua Street Station</option>

	<option value="SIML">Simla Crescent Station</option>

	<option value="BOXH">Box Hill Station</option>

	<option value="KHAN">Khandallah Station</option>

	<option value="RARO">Raroa Station</option>

	<option value="JOHN">Johnsonville Station</option>

	<option value="WEST">Western Hutt Station</option>

	<option value="MELL">Melling Station</option>

	<option value="MAYM">Maymorn Station</option>

	<option value="FEAT">Featherston Station</option>

	<option value="WOOD">Woodside Station</option>

	<option value="MATA">Matarawa Station</option>

	<option value="CART">Carterton Station</option>

	<option value="SOLW">Solway Station</option>

	<option value="RENA">Renall Street Station</option>

	<option value="MAST">Masterton Station</option>

	<option value="TAKA">Takapu Road Station</option>

	<option value="REDW">Redwood Station</option>

	<option value="TAWA">Tawa Station</option>

	<option value="LIND">Linden Station</option>

	<option value="KENE">Kenepuru Station</option>

	<option value="PORI">Porirua Station</option>

	<option value="PARE">Paremata Station</option>

	<option value="MANA">Mana Station</option>

	<option value="PLIM">Plimmerton Station</option>

	<option value="PUKE">Pukerua Bay Station</option>

	<option value="PAEK">Paekakariki Station</option>

	<option value="PARA">Paraparaumu Station</option>

	<option value="WAIK">Waikanae Station</option>

</select>

									<span class="glyphicon form-control-feedback"></span> 
								</div>
								<div class="hidden-sm hidden-xs text-center form-icon">
									<span class="glyphicon glyphicon-resize-horizontal"></span>
								</div>  
							</div>
					
					
						<div id="To"  class="has-feedback " >
								<div class="col-md-5">
									<label class="label-light label-blue" for="FareCalulatorForm_FareCalculatorForm_To">And:</label>
									<select name="To" class="dropdown stop-field form-control" id="FareCalulatorForm_FareCalculatorForm_To" required="required" aria-required="true">

	<option value="" selected="selected">- please select a Line -</option>

	<option value="WELL">Wellington Station</option>

	<option value="NGAU">Ngauranga Station</option>

	<option value="PETO">Petone Station</option>

	<option value="AVA">Ava Station</option>

	<option value="WOBU">Woburn Station</option>

	<option value="WATE">Waterloo Station</option>

	<option value="EPUN">Epuni Station</option>

	<option value="NAEN">Naenae Station</option>

	<option value="WING">Wingate Station</option>

	<option value="TAIT">Taita Station</option>

	<option value="POMA">Pomare Station</option>

	<option value="MANO">Manor Park Station</option>

	<option value="SILV">Silverstream Station</option>

	<option value="HERE">Heretaunga Station</option>

	<option value="TREN">Trentham Station</option>

	<option value="WALL">Wallaceville Station</option>

	<option value="UPPE">Upper Hutt Station</option>

	<option value="CROF">Crofton Downs Station</option>

	<option value="NGAI">Ngaio Station</option>

	<option value="AWAR">Awarua Street Station</option>

	<option value="SIML">Simla Crescent Station</option>

	<option value="BOXH">Box Hill Station</option>

	<option value="KHAN">Khandallah Station</option>

	<option value="RARO">Raroa Station</option>

	<option value="JOHN">Johnsonville Station</option>

	<option value="WEST">Western Hutt Station</option>

	<option value="MELL">Melling Station</option>

	<option value="MAYM">Maymorn Station</option>

	<option value="FEAT">Featherston Station</option>

	<option value="WOOD">Woodside Station</option>

	<option value="MATA">Matarawa Station</option>

	<option value="CART">Carterton Station</option>

	<option value="SOLW">Solway Station</option>

	<option value="RENA">Renall Street Station</option>

	<option value="MAST">Masterton Station</option>

	<option value="TAKA">Takapu Road Station</option>

	<option value="REDW">Redwood Station</option>

	<option value="TAWA">Tawa Station</option>

	<option value="LIND">Linden Station</option>

	<option value="KENE">Kenepuru Station</option>

	<option value="PORI">Porirua Station</option>

	<option value="PARE">Paremata Station</option>

	<option value="MANA">Mana Station</option>

	<option value="PLIM">Plimmerton Station</option>

	<option value="PUKE">Pukerua Bay Station</option>

	<option value="PAEK">Paekakariki Station</option>

	<option value="PARA">Paraparaumu Station</option>

	<option value="WAIK">Waikanae Station</option>

</select>

									<span class="glyphicon form-control-feedback"></span>
								</div>
							</div>
					
				</div>
			</div>

		
		
			
		
			
				
	<input type="hidden" name="SourceData" class="readonly form-control" id="FareCalulatorForm_FareCalculatorForm_SourceData" data-sources="{&quot;HVL&quot;:{&quot;WELL&quot;:&quot;Wellington Station&quot;,&quot;NGAU&quot;:&quot;Ngauranga Station&quot;,&quot;PETO&quot;:&quot;Petone Station&quot;,&quot;AVA&quot;:&quot;Ava Station&quot;,&quot;WOBU&quot;:&quot;Woburn Station&quot;,&quot;WATE&quot;:&quot;Waterloo Station&quot;,&quot;EPUN&quot;:&quot;Epuni Station&quot;,&quot;NAEN&quot;:&quot;Naenae Station&quot;,&quot;WING&quot;:&quot;Wingate Station&quot;,&quot;TAIT&quot;:&quot;Taita Station&quot;,&quot;POMA&quot;:&quot;Pomare Station&quot;,&quot;MANO&quot;:&quot;Manor Park Station&quot;,&quot;SILV&quot;:&quot;Silverstream Station&quot;,&quot;HERE&quot;:&quot;Heretaunga Station&quot;,&quot;TREN&quot;:&quot;Trentham Station&quot;,&quot;WALL&quot;:&quot;Wallaceville Station&quot;,&quot;UPPE&quot;:&quot;Upper Hutt Station&quot;},&quot;JVL&quot;:{&quot;WELL&quot;:&quot;Wellington Station&quot;,&quot;CROF&quot;:&quot;Crofton Downs Station&quot;,&quot;NGAI&quot;:&quot;Ngaio Station&quot;,&quot;AWAR&quot;:&quot;Awarua Street Station&quot;,&quot;SIML&quot;:&quot;Simla Crescent Station&quot;,&quot;BOXH&quot;:&quot;Box Hill Station&quot;,&quot;KHAN&quot;:&quot;Khandallah Station&quot;,&quot;RARO&quot;:&quot;Raroa Station&quot;,&quot;JOHN&quot;:&quot;Johnsonville Station&quot;},&quot;MEL&quot;:{&quot;WELL&quot;:&quot;Wellington Station&quot;,&quot;NGAU&quot;:&quot;Ngauranga Station&quot;,&quot;PETO&quot;:&quot;Petone Station&quot;,&quot;WEST&quot;:&quot;Western Hutt Station&quot;,&quot;MELL&quot;:&quot;Melling Station&quot;},&quot;WRL&quot;:{&quot;WELL&quot;:&quot;Wellington Station&quot;,&quot;PETO&quot;:&quot;Petone Station&quot;,&quot;WATE&quot;:&quot;Waterloo Station&quot;,&quot;UPPE&quot;:&quot;Upper Hutt Station&quot;,&quot;MAYM&quot;:&quot;Maymorn Station&quot;,&quot;FEAT&quot;:&quot;Featherston Station&quot;,&quot;WOOD&quot;:&quot;Woodside Station&quot;,&quot;MATA&quot;:&quot;Matarawa Station&quot;,&quot;CART&quot;:&quot;Carterton Station&quot;,&quot;SOLW&quot;:&quot;Solway Station&quot;,&quot;RENA&quot;:&quot;Renall Street Station&quot;,&quot;MAST&quot;:&quot;Masterton Station&quot;},&quot;KPL&quot;:{&quot;WELL&quot;:&quot;Wellington Station&quot;,&quot;TAKA&quot;:&quot;Takapu Road Station&quot;,&quot;REDW&quot;:&quot;Redwood Station&quot;,&quot;TAWA&quot;:&quot;Tawa Station&quot;,&quot;LIND&quot;:&quot;Linden Station&quot;,&quot;KENE&quot;:&quot;Kenepuru Station&quot;,&quot;PORI&quot;:&quot;Porirua Station&quot;,&quot;PARE&quot;:&quot;Paremata Station&quot;,&quot;MANA&quot;:&quot;Mana Station&quot;,&quot;PLIM&quot;:&quot;Plimmerton Station&quot;,&quot;PUKE&quot;:&quot;Pukerua Bay Station&quot;,&quot;PAEK&quot;:&quot;Paekakariki Station&quot;,&quot;PARA&quot;:&quot;Paraparaumu Station&quot;,&quot;WAIK&quot;:&quot;Waikanae Station&quot;}}" />


			
		
			
		
			
		
			
				
	<input type="hidden" name="ExceptionData" class="readonly form-control" id="FareCalulatorForm_FareCalculatorForm_ExceptionData" data-exceptions="{&quot;WRL&quot;:{&quot;conditions&quot;:[{&quot;from&quot;:&quot;WELL&quot;,&quot;to&quot;:&quot;PETO&quot;},{&quot;from&quot;:&quot;WELL&quot;,&quot;to&quot;:&quot;WATE&quot;},{&quot;from&quot;:&quot;WELL&quot;,&quot;to&quot;:&quot;UPPE&quot;},{&quot;from&quot;:&quot;PETO&quot;,&quot;to&quot;:&quot;WATE&quot;},{&quot;from&quot;:&quot;PETO&quot;,&quot;to&quot;:&quot;WELL&quot;},{&quot;from&quot;:&quot;PETO&quot;,&quot;to&quot;:&quot;UPPE&quot;},{&quot;from&quot;:&quot;UPPE&quot;,&quot;to&quot;:&quot;WELL&quot;},{&quot;from&quot;:&quot;UPPE&quot;,&quot;to&quot;:&quot;PETO&quot;},{&quot;from&quot;:&quot;UPPE&quot;,&quot;to&quot;:&quot;WATE&quot;},{&quot;from&quot;:&quot;WATE&quot;,&quot;to&quot;:&quot;WELL&quot;},{&quot;from&quot;:&quot;WATE&quot;,&quot;to&quot;:&quot;PETO&quot;},{&quot;from&quot;:&quot;WATE&quot;,&quot;to&quot;:&quot;UPPE&quot;}],&quot;allowed&quot;:false}}" />


			
		
			
				<input type="hidden" name="SecurityID" value="1a91d5005732c88fd34e5fcb6bce53f389f0b812" class="hidden form-control" id="FareCalulatorForm_FareCalculatorForm_SecurityID" />

			
		
		<div class="clear"><!-- --></div>
	</fieldset>

	
	<div class="form-actions action-row">
		<div class="form-group">
			<div class="col-xs-12">
				
					<button type="submit" name="action_calculateFare" value="Next Step" class="action btn btn-primary-light btn-lg btn-order" id="FareCalulatorForm_FareCalculatorForm_action_calculateFare">
						Next Step <span class="glyphicon glyphicon-chevron-right"></span>
					</button>
				
			</div>
		</div>
	</div>
	

</form>


			
			
			<div class="content"><p><strong>Terms and Conditions:</strong></p><ul style="margin-left: 0; padding-left: 0;"><li> We make your personal information available to our rail operator, Transdev, to send out your tickets.  <a href="/privacy/">View our full privacy statement</a>. Transdev also records the ticket number you are issued.</li>
<li>Your ticket will be posted <span class="aBn" data-term="goog_1730863579">within six days</span> of receiving your order and payment. It will be sent to your address via NZ Post.</li>
<li>To give us time to get the tickets to you, online monthly pass  sales for the following month close on 20<sup>th</sup> of each month e.g. you can purchase tickets for September up to <span class="aBn" data-term="goog_1730863580">20 August</span>. If you miss the cut off you can still purchase tickets <a href="/tickets-and-fares/how-to-pay-your-fare/where-to-buy-your-ticket/">from our stations or ticket agents</a>.</li>
<li>If you have any issues with your monthly pass purchase contact the Metlink Service Centre on <a href="tel:0800%20801%20700" target="_blank">0800 801 700</a> or fill in our online feedback form. <a href="/customer-services/connect-with-us/metlink-service-centre/">Metlink Service Centre hours</a>.</li>
</ul></div>
        
    </div>

{% endblock %}