{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
        <div class="page-header">
            <h1>Period passes - monthly and day</h1>
        </div>
 
        <div class="content">
        
            <h3>Monthly passes</h3>
            
            <p>Montly passes are available on train based on the <a title="fare zones" href="http://localhost:5000/tickets-and-fares/fare-zones/">number of zones travelled</a>, with prices set out in the <a title="fare zones" href="http://localhost:5000/tickets-and-fares/">standard fare schedule</a>. In addition, a number of bus monthly passes and combined bus/train passes are avaiable. Rail monthly passes can be purchased from <a title="" href="http://localhost:5000/tickets-and-fares/where-to-buy-your-ticket/">stations or retailers</a> or <a href="http://localhost:5000/tickets-and-fares/order-monthly-train-passes/" title="Go to Order Monthly Train Passes page">online</a>. Bus passes can be purchased on the bus.</p>

            <table class="table">
            <thead>
            <tr>
                <th class="col-md-3">Pass name</th>
                <th class="col-md-1">Train</th>
                <th class="col-md-1">Bus</th>
                <th class="col-md-7">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>GO Wellington 30 Day Pass - $150.00</td>
                <td>No</td>
                <td>Yes</td>
                <td>Unlimited travel for 30 consecutive days from the date of first use on any GO Wellington service. (Not valid for travel on Runciman's, Valley Flyer or Airport Flyer services within zones 1-3). This pass is only available on Snapper. For details of which retailers sell the 30 day pass, go to Snapper.</td>
            </tr>
            <tr>
                <td>Hutt Commuter 30 Day Pass - $230.00</td>
                <td>No</td>
                <td>Yes</td>
                <td>Unlimited travel for 30 consecutive days from the date of first use on any GO Wellington, Valley Flyer (including Airport Flyer) and Runciman's services. This pass is available only on Snapper. For details of which retailers sell the monthly pass, go to Snapper.</td>
            </tr>
            <tr>
                <td>GetAbout 30 Day Pass - $200.00</td>
                <td>No</td>
                <td>Yes</td>
                <td>Unlimited travel for 30 consecutive days from the date of first use on any GO Wellington or Valley Flyer (including Airport Flyer) services.  This pass is only available only on Snapper. For details of which retailers sell the monthly pass, go to Snapper.</td>
            </tr>
            <tr>
                <td>HuttPlus Monthly ticket - rail monthly pass plus $58.00</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Must be purchased in combination with a rail monthly pass. Unlimited bus and train travel for one calendar month on Valley Flyer routes 110-170 and Metlink train services between the following stations: Wellington and Waterloo/Melling, Wellington and Pomare, Wellington and Upper Hutt. You can purchase this ticket from Upper Hutt, Waterloo, Petone and Wellington train stations ticket offices.</td>
            </tr>
            <tr>
                <td>WairarapaPlus tickets - included in rail monthly pass price</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>The WairarapaPlus-Greytown and the WairarapaPlus-Martinborough tickets are a combined train and bus monthly ticket available for travel on Metlink train services and connecting bus services between Greytown and Wellington and Martinborough and Wellington for one calendar month. </td>
            </tr>
            <tr>
                <td>Metlink KapitiPlus tickets - included in rail monthly pass price</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>If you hold a valid Metlink adult Monthly train ticket from Paraparaumu to Wellington, Metlink KapitiPlus allows you to transfer between trains and Mana buses within zone nine at Paraparaumu Station at no extra cost. If you hold a valid Metlink adult Monthly train ticket from Waikanae to Wellington, Metlink KapitiPlus allows you to transfer between trains and Mana Route 280 Waikanae buses at Waikanae Station at no extra cost. Simply show your train ticket to the bus driver.</td>
            </tr>
            </tbody>
            </table>
            
            
            <h3>Day passes</h3>

            <table class="table">
            <thead>
            <tr>
                <th class="col-md-3">Pass name</th>
                <th class="col-md-1">Train</th>
                <th class="col-md-1">Bus</th>
                <th class="col-md-7">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Metlink Explorer ticket - $21.00</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Unlimited travel for one day after 9.00am on weekdays and all day on weekends and public holidays on Valley Flyer, Mana Coach Services, Newlands Coach Service, GO Wellington, Airport Flyer, and Metlink train (excluding Wairarapa and Capital Connection) services. This ticket allows you to take a child (aged 5-15) for free. Children aged under 5 travel for free. Available from bus drivers, train staff and from ticket offices in the train stations.</td>
            </tr>
            <tr>
                <td>Waikanae Combo - $7.00</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Adults only same-day return ticket (cash fare only) between Waikanae and Paraparaumu. This ticket can only be purchased on Mana Coach Services Route 280 Waikanae bus services and is available for use at any time on Route 280 and Metlink train services between Waikanae and Paraparaumu Stations.</td>
            </tr>
            <tr>
                <td>Otaki Combo - $12.00</td>
                <td>Yes</td>
                <td>Yes</td>
                <td>Adults only same-day return ticket (cash fare only) between Otaki and Paraparaumu. This ticket can only be purchased on Uzabus Route 290 Otaki bus services and is available for use at any time on Route 290 and Metlink train services between Waikanae and Paraparaumu Stations.</td>
            </tr>
            <tr>
                <td>Day Rover ticket - $14.00</td>
                <td>Yes</td>
                <td>No</td>
                <td>Provides unlimited travel for one day on the Kapiti, Upper Hutt, and Johnsonville Metlink train services. Available for travel after 9:00 am on weekdays and all day on weekends and public holidays. This does not include travel on the Wairarapa Line.</td>
            </tr>
            <tr>
                <td>3 Day Weekend Rover ticket - $21.00</td>
                <td>Yes</td>
                <td>No</td>
                <td>Available for travel from 4:30 am on Friday until midnight on Sunday. Provides unlimited travel on the Kapiti, Upper Hutt, and Johnsonville Metlink train services. This does not include travel on the Wairarapa Line.</td>
            </tr>
            <tr>
                <td>Wairarapa Day Excursion ticket - Adult $22.00, Child $11.00</td>
                <td>Yes</td>
                <td>No</td>
                <td>A same day return fare for travel between Wellington and Wairarapa. Available on all Metlink train services except those services scheduled to depart Masterton before 9:00 am, Monday to Friday. This ticket can be purchased on-board the train.</td>
            </tr>
            <tr>
                <td>Family BusAbout – Wellington and Hutt Valley – $21.00</td>
                <td>No</td>
                <td>Yes</td>
                <td>Up to one adult and five children or two adults and four children. Unlimited travel for one day (after 9.00am on weekdays and all day on weekends and public holidays) on GO Wellington and Valley Flyer services. Cannot be used on After Midnight services, the Airport Flyer or Stadium Shuttles. Available from bus drivers.</td>
            </tr>
            <tr>
                <td>BusAbout - Wellington and Hutt Valley - $9.50</td>
                <td>No</td>
                <td>Yes</td>
                <td>Unlimited travel for one person for one day (after 9.00am on weekdays and all day on weekends and public holidays) on GO Wellington and Valley Flyer bus services. This ticket cannot be used on After Midnight services, Airport Flyer and Stadium Shuttles. This ticket is available from bus drivers.</td>
            </tr>
            </tbody>
            </table>
            
            
            <p>&nbsp;</p>
        </div>
        

        
    </div>


{% endblock %}