{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
        <div class="page-header">
            <h1>Tickets and fares</h1>
        </div>

        <div class="content">

            <h2>Rail off-peak fares<a name="fares" class="anchor"></a></h2>
            
            <p>Wellington fares are based on a  <a title="fare zones" href="{{ url_for('metlink.tickets_and_fares_fare_zones') }}">zone system</a>. The fare you pay is based on how many zones you travel through. Just count the number of zone you will travel through, including the ones you will start and finish your journey in.</p>

            <table class="table">
            <thead>
                <tr>
                    <th class="col-md-1">Zones<br/>travelled</th>
                    <th class="col-md-1">Adult cash<br/>peak</th>
                    <th class="col-md-1">Adult cash<br/>off-peak</th>
                </tr>
            </thead>
            <tbody>
                {% for zone in fare_table %}
                    <tr>
                        <td>{{ zone.zones }}</td>
                        <td>{{ zone.adult_cash }}</td>
                        <td>{{ zone.adult_cash_offpeak }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="7">Offpeak fares are only available on rail on specified services. There are no Child off-peak fares.</td>
                </tr>
               
            </tbody>
            </table>
            
       </div>
    </div>
</div>


{% endblock %}