{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
        <div class="page-header">
            <h1>Tickets and fares</h1>
        </div>

        <div class="content">

            <h2>School term pases<a name="school term" class="anchor"></a></h2>
            
            <p>School term passes are based on the <a title="fare zones" href="{{ url_for('metlink.tickets_and_fares_fare_zones') }}">number of zones travelled</a> and are available on rail and some bus services for child travelling between home and school. To find out what school bus you need to take and who it is operated by, use the journey planner (remember to select "school bus") or click on the magnify glass at the top of the page and search on your school's name. School students without a pass are required to pay a <a title="fares and tickets" href="{{ url_for('metlink.tickets_and_fares') }}">child fare</a>. </p>
            
            <table class="table">
            <thead>
                <tr>
                    <th class="col-md-1">Zones<br/>travelled</th>
                    <th class="col-md-1">Rail#</th>
                    <th class="col-md-1">Mana/ Newlands*</th>
                    <th class="col-md-1">Classic Coaches*</th>
                    <th class="col-md-1">Tranzit*</th>
                </tr>
            </thead>
            <tbody>
                {% for zone in fare_table %}
                    <tr>
                        <td>{{ zone.zones }}</td>
                        <td>{{ zone.school_rail }}</td>
                        <td>{{ zone.school_mana }}</td>
                        <td>{{ zone.school_classic }}</td>
                        <td>{{ zone.school_tranzit }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="5">* Bus school term passes are only valid during school term dates. To find out the school term dates visit the <a href="http://www.minedu.govt.nz/theministry/educationinnewzealand/schooltermsandholidays.aspx" target="_blank">Ministry of Education website</a>.</td>
                </tr>
                <tr>
                    <td colspan="5"># Rail school term passes are available to full-time primary and secondary school students for travel between school and the station nearest their home.</td>
                </tr>
               
            </tbody>
            </table>


            <h3>Runcimans servces</h3>
            <table class="table">
            <tbody>
            <tr>
                <td class="col-md-10">Porirua/Papakowhai/Whitby to Hutt Valley Schools</td> 
                <td class="col-md-2">$320.00</td>
            </tr>
            <tr>
                <td>Petone and Lower Hutt to Upper Hutt Schools</td> 
                <td>$160.00</td>
            </tr>
            <tr>
                <td>Upper Hutt, Stokes Valley to Lower Hutt Schools</td> 
                <td>$160.00</td>
            </tr>
            <tr>
                <td>Stokes Valley, Upper Hutt to any Upper Hutt Schools</td> 
                <td>$115.00</td>
            </tr>
            <tr>
                <td>Runcimans Special School Service Fares - Child Single</td> 
                <td>$6.50</td>
            </tr>
            <tr>
                <td>Runcimans Special School Service Fares - Child Multi (per trip)</td> 
                <td>$4.98</td>
            </tr>
            </tbody>
            </table>
            
        </div>
    </div>
</div>


{% endblock %}