{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
        <div class="page-header">
            <h1>Tickets and fares</h1>
        </div>

        <div class="content">

            <h2>Station fares lookup</h2>

            <p>To find you train fare enter the line you want to travel on and select the stations you want to travel between. Off peak services 
            vary by line. Please check the <a title="Go to the timetable page" href="https://www.metlink.org.nz/timetables/">timetable 
            for the service</a> you are using to confirm the off peak times.</p>
            <p><span></span></p>
            
            <script type="text/javascript" src="https://www.metlink.org.nz/tickets-and-fares_files/ajax.farecalculatorform.js.download"></script>
            <form id="FareCalulatorForm_FareCalculatorForm" action="/tickets-and-fares/FareCalculatorForm" method="post" enctype="application/x-www-form-urlencoded" class="form-horizontal validate" role="form" novalidate="novalidate">
                <fieldset>
                <h4 class="forms-step_heading">Calculate a Train Fare</h4>
                <div class="field-row field-row-hl">
                    <div id="Line" class="has-feedback form-group">
                        <div class="col-md-5">
                            <label class="label-light label-blue" for="FareCalulatorForm_FareCalculatorForm_Line">Select a Train Line:</label>
                            <select name="Line" class="dropdown form-control" id="FareCalulatorForm_FareCalculatorForm_Line" required="required" aria-required="true"><option value="" selected="">- please select a Line -</option><option value="HVL">Hutt Valley Line (Upper Hutt - Wellington)</option><option value="JVL">Johnsonville Line (Johnsonville - Wellington)</option><option value="MEL">Melling Line (Melling - Wellington)</option><option value="WRL">Wairarapa Line (Masterton - Wellington)</option><option value="KPL">Kapiti Line (Waikanae - Wellington)</option></select><span class="glyphicon form-control-feedback"></span>  
                        </div>
                    </div>
                </div>
                    <div class="field-row ">
                        <div class="form-group">
                            <div id="From" class="has-feedback">
                                <div class="col-md-5">
                                    <label class="label-light label-blue" for="FareCalulatorForm_FareCalculatorForm_From">Travelling Between:</label>
                                    <select name="From" class="dropdown stop-field form-control" id="FareCalulatorForm_FareCalculatorForm_From" required="required" aria-required="true"><option>- please select a Line -</option></select><span class="glyphicon form-control-feedback"></span> 
                                </div>
                                <div class="hidden-sm hidden-xs text-center form-icon">
                                    <span class="glyphicon glyphicon-resize-horizontal"></span>
                                </div>  
                            </div>
                            <div id="To" class="has-feedback ">
                            <div class="col-md-5">
                                <label class="label-light label-blue" for="FareCalulatorForm_FareCalculatorForm_To">And:</label>
                                <select name="To" class="dropdown stop-field form-control" id="FareCalulatorForm_FareCalculatorForm_To" required="required" aria-required="true"><option>- please select a Line -</option></select><span class="glyphicon form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                </div>  
                <input type="hidden" name="SourceData" class="readonly form-control" id="FareCalulatorForm_FareCalculatorForm_SourceData" data-sources='{"HVL":{"WELL":"Wellington Station","NGAU":"Ngauranga Station","PETO":"Petone Station","AVA":"Ava Station","WOBU":"Woburn Station","WATE":"Waterloo Station","EPUN":"Epuni Station","NAEN":"Naenae Station","WING":"Wingate Station","TAIT":"Taita Station","POMA":"Pomare Station","MANO":"Manor Park Station","SILV":"Silverstream Station","HERE":"Heretaunga Station","TREN":"Trentham Station","WALL":"Wallaceville Station","UPPE":"Upper Hutt Station"},"JVL":{"WELL":"Wellington Station","CROF":"Crofton Downs Station","NGAI":"Ngaio Station","AWAR":"Awarua Street Station","SIML":"Simla Crescent Station","BOXH":"Box Hill Station","KHAN":"Khandallah Station","RARO":"Raroa Station","JOHN":"Johnsonville Station"},"MEL":{"WELL":"Wellington Station","NGAU":"Ngauranga Station","PETO":"Petone Station","WEST":"Western Hutt Station","MELL":"Melling Station"},"WRL":{"WELL":"Wellington Station","PETO":"Petone Station","WATE":"Waterloo Station","UPPE":"Upper Hutt Station","MAYM":"Maymorn Station","FEAT":"Featherston Station","WOOD":"Woodside Station","MATA":"Matarawa Station","CART":"Carterton Station","SOLW":"Solway Station","RENA":"Renall Street Station","MAST":"Masterton Station"},"KPL":{"WELL":"Wellington Station","TAKA":"Takapu Road Station","REDW":"Redwood Station","TAWA":"Tawa Station","LIND":"Linden Station","KENE":"Kenepuru Station","PORI":"Porirua Station","PARE":"Paremata Station","MANA":"Mana Station","PLIM":"Plimmerton Station","PUKE":"Pukerua Bay Station","PAEK":"Paekakariki Station","PARA":"Paraparaumu Station","WAIK":"Waikanae Station"}}'>
                <div class="clear"><!-- --></div>
                </fieldset>
            </form>

            <div class="loading" style="display: none;"><p>Please wait, loading...</p></div>
            <div class="results" style="display: none;"></div>
            <p></p>
            <p>TODO: Ensure the number of zones travelled is also returned</p>
            
            
            
            
            
       </div>
    </div>
</div>


{% endblock %}