{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
    
			<div class="page-header">
				<h1>Stored value cards</h1>
			</div>
			<div class="content">
            
                <p>Stored value cards give discounts off the cash fare when used to travel with a particular operator.&nbsp;</p>
                <p>Stored value cards can be purchased through a variety of ways depending on the operator including bus drivers, bus depots, online and some can even be available on your mobile phone.<br><br>Current cards include:</p>
                <ul><li><a title="Mana Coach Services website" href="http://www-manacoach-co-nz.saturn.netactive.co.nz/fares-and-tickets" target="_blank">Mana Coach Services Smartcard</a></li>
                <li><a title="newlands coach services smartcard" href="http://www.newlands.co.nz/smartcard" target="_blank">Newlands Coach Services&nbsp;Smartcard</a></li>
                <li><a title="Uzabus express card" href="http://uzabus.co.nz/uzabus-express-card/" target="_blank">Madge/Uzabus Express Card<br></a></li>
                <li><a title="a.to.b card information" href="http://www.tranzit.co.nz/waiurban" target="_blank">Tranzit a.to.b card</a></li>
                </ul><p>The following bus operators use&nbsp;<a href="http://www.snapper.co.nz/go-wellington-valley-flyer-airport-flyer-and-runcimans-buses/" target="_blank">Snapper</a>&nbsp;cards:</p>
                <ul><li>Go Wellington</li>
                <li>Valley Flyer</li>
                <li>Runcimans</li>
                <li>Airport Flyer</li>
                </ul><p>The stored value card discount does not apply to the After Midnight service fares. Special event and promotion fares may be excluded from the discount. The discount does not include any administration fees that may be charged by the card provider.&nbsp;</p>
                <p>&nbsp;</p>
            
            </div>
			
			
		</div>
        
    </div>

{% endblock %}