{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
        <div class="page-header">
            <h1>Transfer tickets</h1>
        </div>
 
       <div class="content">

            <h3>Bus</h3> 
            <p>Transfer tickets are available on Mana and Newlands Coach Services for transfers to other Mana or Newlands Coach Services, except Route 97. Transfer tickets are issued free of charge but you must ask the driver for a transfer when first boarding the bus.</p>
            <p>Transfers are also available on the following services when paying with Snapper:</p>
            <ul>
                <li>Valley Flyer services for transfers to other Valley Flyer services within the Hutt Valley only, except routes 80, 85 and 90. <a href="http://www.valleyflyer.co.nz/terms-and-conditions-valleyflyer" target="_blank">Terms and conditions</a> apply for transfers on Valley Flyer services.</li>
                <li>Airport Flyer services for transfers to/from the Airport Flyer and Valley Flyer Route 110 at Queensgate only.  No other transfers available on Airport Flyer services.</li>
                <li>GO Wellington Route 30 Breaker Bay/Scorching Bay express services to Route 28 Beacon Hill Shuttle.</li>
            </ul>
            <p>Transfer tickets are valid for travel in a continuous direction on the next available service. For example, you cannot stop over at the transfer point to shop, as that is not making a continuous journey and two separate fares must be paid. Daily and monthly passes allow unlimited trips, including transfers.</p>

            <h3>Train</h3> 
            <p>Transfer tickets are issued free of charge when a passenger using a single or 10-trip ticket is required to transfer from one train to another to reach their destination. On the initial journey, present your ticket or fare and request a transfer ticket. Once transferred, present your tickets for inspection and surrender the transfer ticket to on board staff. Transfer tickets are to be used on the next available train, and are not issued to passengers who want to break their journey. They cannot be used over two lines.</p>
            <p>&nbsp;</p>

        </div>
        
    </div>


{% endblock %}