{% extends "metlink/tickets-and-fares/base.html" %}

{% block main_content %} 
    
    <div id="main" role="main" class="col-xs-12 col-sm-8 col-md-9 col-lg-7 contentHolder">
    
        <div class="page-header">
            <h1>Where to buy your ticket</h1>
        </div>
        
        <div class="content">
        
            <h2>Bus and ferry</h2>
            
            <p>Load or buy your Snapper card for GO Wellington, Valley Flyer and Runciman's services on the <a title="Go Wellington ticket agencies" href="https://www.snapper.co.nz/" target="_blank">Snapper website</a> or at a <a href="http://www.snapper.co.nz/snapper-in-retailers/" target="_blank">Snapper retailer</a>.</p>
            
            <p>Tickets for <a title="mana coach services smartcard" href="http://www-manacoach-co-nz.saturn.netactive.co.nz/smartcard" target="_blank">Mana Coach Services</a> and <a title="newlands coach services smartcard" href="http://www.newlands.co.nz/smartcard" target="_blank">Newlands Coach Services</a> can be purchased onboard the bus or online from their websites.</p>
            
            <p>Ferry tickets can be purchased at the <a href="http://www.eastbywest.co.nz/" target="_blank">East by West</a> ticket office, <span>1 Queens Wharf, Wellington</span> or on board the ferry. </p>
            
             <h2>Train</h2>
             
             <p>Train tickets can be purchased from selected stations and ticket agents. Single cash fares, 10-trip tickets and day passes can be purchased onboard. You can also <a title="Purchase your monthly pass online" href="http://localhost:5000/tickets-and-fares/how-to-pay-your-fare/order-monthly-train-passes/">purchase monthly passes online</a>.</p>
                 
            <h3>Stations opening hours</h3>
        
            <table class="table">
            <thead>
                <tr>
                    <th class="col-md-1">Station name</th>
                    <th class="col-md-1">Monday to Friday</th>
                    <th class="col-md-1">Saturday</th>
                    <th class="col-md-1">Sunday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Wellington Station</td>
                    <td>6:30am - 8:00pm (1:15am Friday)</td>
                    <td>6:30am - 1:15am</td>
                    <td>6:30am-7:10pm</td>
                </tr>
                <tr>
                    <td>Porirua Station</td>
                    <td>5:30am - 6:30pm</td>
                    <td>8:30am - 4:10pm</td>
                    <td>Closed</td>
                </tr>                    
                <tr>
                    <td>Paraparaumu Station</td>
                    <td>5:25am - 6:10pm</td>
                    <td>7:55am - 3:10pm</td>
                    <td>Closed</td>
                </tr>   
                <tr>
                    <td>Waikanae Station</td>
                    <td>5:20am - 12:45pm</td>
                    <td>Closed</td>
                    <td>Closed</td>
                </tr>                       
                <tr>
                    <td>Petone Station</td>
                    <td>6:15am - 1:30pm</td>
                    <td>Closed</td>
                    <td>Closed</td>
                </tr>                
                <tr>
                    <td>Waterloo Station</td>
                    <td>5:45am - 1:10pm</td>
                    <td>Closed</td>
                    <td>Closed</td>
                </tr>                       
                <tr>
                    <td>Upper Hutt Station</td>
                    <td>5:20am - 6:30pm</td>
                    <td>Closed</td>
                    <td>Closed</td>
                </tr>   
            </tbody>
            </table>
            
            <h3> Ticket Agents</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Area</th>
                        <th>Agent</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th rowspan="20">Wellington</th>
                        <td>Freemans Lotto and News Agency</td>
                            <td>Ground Floor, Rutherford House, 23 Lambton Quay, <strong>Wellington</strong></td>
                            </tr><tr><td>Fix Grand Arcade</td>
                            <td>16-18 Willis Street, <strong>Wellington</strong></td>
                            </tr><tr><td>Fix Manners Mall</td>
                            <td>49 Manners Mall, <strong>Wellington</strong></td>
                            </tr><tr><td>Fix Cuba Street</td>
                            <td>139 Cuba Street, <strong>Wellington</strong></td>
                            </tr><tr><td>Fix Courtenay Place</td>
                            <td>57 Courtenay Place, <strong>Wellington</strong></td>
                            </tr><tr><td><span>Fix Courtenay Place</span></td>
                            <td>80 Courtenay Place, <strong>Wellington</strong></td>
                            </tr><tr><td>Panache</td>
                            <td>17 Mulgrave Street , <strong>Thorndon</strong>, Wellington</td>
                            </tr><tr><td>City Cards &amp; Mags</td>
                            <td>112 Lambton Quay, <strong>Wellington</strong></td>
                            </tr><tr><td>Broderick Dairy</td>
                            <td>66 Broderick Road, <strong>Johnsonville</strong></td>
                            </tr><tr><td>Mac's Photo and Lotto</td>
                            <td>182 Main Road, <strong>Tawa</strong></td>
                            </tr><tr><td>Paekakariki Village Grocery Store</td>
                            <td>11 Beach Road, <strong>Paekakariki</strong></td>
                            </tr><tr><td>Macks Track</td>
                            <td>Plimmerton Railway Station, <strong>Plimmerton</strong></td>
                            </tr><tr><td>Melling Station Cafe</td>
                            <td>Pharazyn Street, <strong>Lower Hutt</strong></td>
                            </tr><tr><td>Woburn SuperValue</td>
                            <td>15 Cambridge Terrace, <strong>Lower Hutt</strong></td>
                            </tr><tr><td>Two Ten Dairy </td>
                            <td>210 Knights Road, <strong>Waterloo</strong></td>
                            </tr><tr><td>Hardy Street Dairy</td>
                            <td>21 Hardy Street, <strong>Waterloo</strong></td>
                            </tr><tr><td>Trentham Post Shop</td>
                            <td>9 Camp Street, <strong>Silverstream</strong></td>
                            </tr><tr><td>Maclean Street Store</td>
                            <td>42 Maclean Street, <strong>Wallaceville</strong></td>
                            </tr><tr><td>Silverstream Cruise and Holiday Centre</td>
                            <td>Corner of Kiln Street and Whiteman's Road, <strong>Silverstream</strong></td>
                            </tr><tr><td>City Stop</td>
                            <td>2 Wakefield Street, <strong>Upper Hutt</strong></td>
                    </tr>
                    <tr>
                        <th rowspan="4">Wairarapa</th>
                        <td>Greytown Motors</td>
                        <td>230  Main Road, <strong>Greytown</strong></td>
                    </tr>
                    <tr>
                        <td>Carterton Station ticket office</td>
                        <td>Carterton Station. Open 30 minutes prior to the departure of , each Wellington bound service Monday to Friday</td>
                    </tr>
                    <tr>
                        <td>Featherston Station ticket office</td>
                        <td>Featherston Station. Open 30 minutes prior to the departure of , each Wellington bound service Monday to Friday</td>
                    </tr>
                    <tr>
                        <td>Masterton Station ticket office</td>
                        <td>Masterton Station. Open 30 minutes prior to the departure of , each Wellington bound service Monday to Friday</td>
                    </tr>
                </tbody>
            </table>
        
        
        </div>
    </div>

{% endblock %}